@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #002146;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #87898d;
    border-radius: 1px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #87898d;
}